@model Suri.Models.Localidades

@{
    ViewData["Title"] = "Delete";
}

<h1 class="encabezado pt-lg-5">BORRAR LOCALIDAD</h1>

<div class="container">
    <h3 class="pb-3">¿Estas seguro de querer borrar esto?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenadas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coordenadas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CeldaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CeldaId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
