@model Suri.Models.Localidades

@{
    ViewData["Title"] = "Details";
}

<h1 class="encabezado pt-lg-5">DETALLES DE LOCALIDAD</h1>


<div class="container">
    <h4>Localidad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenadas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coordenadas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CeldaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CeldaId)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>
