@model IEnumerable<Suri.Models.Actividades>

@{
    ViewData["Title"] = "ACTIVIDADES PENDIENTES";
}


<section class="jumbotron text-center bg-transparent">
    <div class="container">
        <h1 class="jumbotron-heading">MIS ACTIVIDADES PENDIENTES</h1>
        <p class="lead text-muted">En esta área encontraras todas las actividades que se te han asignado. Tienes la opción de terminar las actividades pendiente haciendo click en el botón de terminar actividad.</p>

    </div>
</section>

@if (Model.Any())
{



    <div class="container-fluid" >
        <div class="album py-5 pl-3 pr-3 bg-light">

            <div class="row ">
                @foreach (var item in Model)
                {



                    var colorPrior = "badge badge-light";
                    var prioridad = item.PrioridadId;
                    if (prioridad == 3) { colorPrior = "badge badge-danger"; } else if (prioridad == 2) { colorPrior = "badge badge-warning"; } else { colorPrior = "badge badge-info"; }
                   var  coordenadas = "https://www.google.com/maps/place/" + item.Localidad.Coordenadas;

                    <div class="col-lg-4 m-auto" style="max-width: 427.66px;">
                        <div class="card mb-4 box-shadow">
                            <div class=" justify-content-center d-flex align-items-center" style="background-image: url('../imgs/location.jpg');  background-size:cover;  height: 225px; width: 100%; ">
                                <h3 class="text-light" style="text-shadow: rgba(0,0,0, 0.3) 1px 3px 3px"><span>@Html.DisplayFor(modelItem => item.Localidad.Nombre)</span></h3>
                            </div>
                            <div class="card-body">
                                <div class="card-text text-right">
                                    <span class="badge badge-pill badge-secondary">
                                        @Html.DisplayFor(modelItem => item.FechaAsignacion)
                                </span>
                            </div>
                            <p class="card-text mb-4 mt-0 mt-lg-3">


                                <b>@Html.DisplayNameFor(model => model.Actividad):</b>
                                @Html.DisplayFor(modelItem => item.Actividad)
                                <br />



                            </p> <div class="d-flex justify-content-end">
                                <small class="text-muted">
                                    
                                    <a class="alert-link" target="_blank" href="@coordenadas">Ver en el mapa</a>
                                </small>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">

                                <small class="text-muted">
                                    @Html.DisplayNameFor(model => model.Prioridad):
                                    <span class="@colorPrior">@Html.DisplayFor(modelItem => item.Prioridad.Name)</span>
                                </small>
                            </div>
                            <div class="btn-group">
                                <a  asp-action="RealizarActividad" asp-controller="Actividades" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Realizar actividad</a>
                            </div>
                        </div>
                    </div>
                </div>





            }

            </div>
        </div>
    </div>

}
else
{
    <div class="card mt-3">
        <div class="card-body">
            <h3>No hay actividades pendientes</h3>
        </div>
    </div>

}