@model Suri.Models.Actividades

@{
    ViewData["Title"] = "Delete";
}

<h1 class="encabezado pt-lg-5">BORRAR ACTIVIDAD</h1>


    <div class="container">
    <h3 class="pb-3">¿Estas seguro de querer borrar esto?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsignacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAsignacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRealizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRealizacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.accion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.accion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prioridad.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyUser.UserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <a href='@ViewBag.returnUrl'>Volver a la lista</a>
    </form>
</div>
